body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*background-image: url("../media/background.jpg");*/
    /*background-size: cover;*/
    /*background-position: center center !important;*/
    /*background-repeat: no-repeat !important;*/
    /*background-attachment: fixed;*/
}

[class*="col"] {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-image: url("../media/background.jpg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat !important;*/
    /*background-attachment: fixed;*/
    /*background-color: rgba(0,255,0,1);*/
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

/* Min Small */
@media (min-width: 576px) {
    .sidebar {
        position: fixed;
        /*background-color: rgba(255,0,0,1);*/
    }
}

/* Min Medium */
@media (min-width: 768px) {
}

/* Min Large */
@media (min-width: 992px) {

}

/* Min Extra large */
@media (min-width: 1200px) {

}

/* Max Extra Small */
@media (max-width: 575px) {

}

/* Max Small */
@media (max-width: 767px) {

}

/* Max Medium */
@media (max-width: 991px) {

}

/* Max Large */
@media (max-width: 1199px) {

}