{{ $page := . }}
{{ $carousel := (gt .Params.entry_media 1) }}

{{ if $carousel }}
    {{ $carousel_id := printf "carousel_%s" .Params.short_name }}
    <div id='{{ $carousel_id }}' class='carousel slide mb-2' data-bs-ride='carousel'>
        <div class='carousel-indicators'>
    {{ $carousel_count := 0 }}
    {{ range .Params.entry_media }}
            <button type="button" data-bs-target='#{{ $carousel_id }}' data-bs-slide-to='{{$carousel_count}}'
            {{if eq $carousel_count 0 }}
                class='border border-1 border-dark border-opacity-25 active' aria-current="true"
            {{ else }}
                class='border border-1 border-dark border-opacity-25'
            {{ end }}
                aria-label="Slide {{add $carousel_count 1}}"
            ></button>
            {{ $carousel_count = add $carousel_count 1 }}
    {{ end }}
        </div>
        <div class='carousel-inner'>

    {{ $carousel_count := 0 }}
    {{ range .Params.entry_media }}
        {{ range $media_type, $media := . }}
            {{if eq $carousel_count 0 }}
                <div class='carousel-item active'>
            {{ else }}
                <div class='carousel-item'>
            {{ end }}

            {{ $scratch := newScratch }}
            {{ $scratch.Set "page" $page }}
            {{ $scratch.Set "media_type" $media_type }}
            {{ $scratch.Set "media" $media }}
            {{ partial "portfolio-carousel-media-entry.html" $scratch }}
                </div>
            {{ $carousel_count = add $carousel_count 1 }}
        {{ end }}
    {{ end }}
        </div>
    </div>

{{ else }}

    {{ range .Params.entry_media }}
        {{ range $media_type, $media := . }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "page" $page }}
            {{ $scratch.Set "media_type" $media_type }}
            {{ $scratch.Set "media" $media }}
            {{ partial "portfolio-single-media-entry.html" $scratch }}
        {{ end }}
    {{ end }}

{{ end }}

