on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    name: Build Site
    uses: ./.github/workflows/reusable-build-site.yml
    with:
      hugo-version: 'latest'
      site-folder: 'out'

  deploy:
    name: Deploy Site
    needs: build
    uses: ./.github/workflows/reusable-deploy-site.yml
    with:
      environment: "production"
      site-folder: 'out'
    secrets: inherit
